<!doctype html>
<html ng-app="todoApp">
  <head>
	<title>ToDoList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="todo.js"></script>
	<script src="serviceWorker.js" defer></script>
    <link rel="stylesheet" href="todo.css">
	<link rel="apple-touch-icon" sizes="180x180" href="http://www.tlu.ee/~kristor/ToDoList/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="http://www.tlu.ee/~kristor/ToDoList/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="194x194" href="http://www.tlu.ee/~kristor/ToDoList/images/favicon-194x194.png">
	<link rel="icon" type="image/png" sizes="192x192" href="http://www.tlu.ee/~kristor/ToDoList/images/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="http://www.tlu.ee/~kristor/ToDoList/images/favicon-16x16.png">
	<link rel="manifest" href="http://www.tlu.ee/~kristor/ToDoList/images/site.webmanifest">
	<link rel="mask-icon" href="http://www.tlu.ee/~kristor/ToDoList/images/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="http://www.tlu.ee/~kristor/ToDoList/images/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="ToDoList">
	<meta name="application-name" content="ToDoList">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="msapplication-TileImage" content="http://www.tlu.ee/~kristor/ToDoList/images/mstile-144x144.png">
	<meta name="msapplication-config" content="http://www.tlu.ee/~kristor/ToDoList/images/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">






  </head>
  <body>
    <div class="header">
        <h2>TO DO LIST</h2>
    </div>
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos track by $index">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input class="textbox" type="text" ng-model="todoList.todoText"  size="30"
               placeholder="Add a new to do">
        <input class="btn-primary" type="submit" value="Add">
      </form>
    </div>
  </body>
</html>